.searchInputs {
    margin-top: 105px;
    display: flex;
    justify-content: center;
    
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 25px;
    height: 50px;
    width: 80%;
    border: solid 1px #38457c;
    border-radius: 20px;
  }
  
  .searchIcon {
    height: 80px;
    width: 80px;
    place-items: center;
    
  }
  
  input:focus {
    outline: none;
    
  }
  .searchIcon svg {
    font-size: 50px;
    color: #FFE052;
  }
  
  .dataResult {
    z-index: 1;
    /* margin-top: 5px; */
    width: 83%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    

  }
  
  .dataResult::-webkit-scrollbar {
    display: block;
    justify-content: center;

  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    margin: 10px;
    display: flex;
    text-align: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
    
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }

  #searchBar{
    padding: 1rem;
    background-color: #5271ff;
  }

 
  
 